.ipynb_checkpoints/
__pycache__/
.DS_Store
*.png
*.cpg
*.dbf
*.prj
*.qmd
*.shp
*.shx
*.tif
*.nc
*.joblib
*.pptx
*.geojson
*.zip
*.npy
!data/metadata/*
*.log
bin/
sceua_results_regi1.csv
sceua_results_regi2.csv
sceua_results_glob2.csv
sceua_results_glob1.csv