.ipynb_checkpoints/
__pycache__/
.DS_Store
*.png
*.cpg
*.dbf
*.prj
*.qmd
*.shp
*.shx
*.tif
*.nc
*.joblib
*.pptx
*.geojson
*.zip
*.npy
!data/metadata/*
*.log
bin/
other_basins_tests/
sceua_results_regi1.csv
sceua_results_regi2.csv
sceua_results_glob2.csv
sceua_results_glob1.csv
sceua_results_RD1.csv
sceua_results_RD2.csv
results/groups/3_2_wrong/
results/groups/moselle_not_complex/
results/groups/others/
results/groups/RD_WD/